@charset "UTF-8";

* {
	font-family: Arial, Helvetica;
}

header {
	/*
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 50px;
	*/
	box-shadow: 0 1px 8px #ddd;
}

header li {
	list-style: none;
	display: inline-block;
	text-decoration: underline;
	margin: 0 2rem;
}

header a {
	text-decoration: none;
	color: #555;
}

nav ul {
	float: right;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
}


#titrenav {
	float: left;
	font-weight: bold;
	font-size: 1em;
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center; /* Aligne verticalement les enfants */
	/* Optionnel : largeur pour mieux contrôler l'espace */
	width: 50%;
}

#submitSearch {
	height: 5em;
	width: 20em;
}

.filtres-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 2rem 2rem 2rem;
	gap: 1rem;
}