html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.titre-entete {
    font-size: 25px;
    font-weight: 600;
}

.buttons-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.bouton, a {
    text-decoration: none;
    color: #368539;
}

.bouton, a:hover {
    color: #295c2c;
    font-weight: 400;
}

.titre-entete, .button-nav {
    text-align: center;
}

/* Body */
/* Creer compte */
.titre {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 70px 0 40px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

.form-profil{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: auto;
}

.info-profil {
    border-collapse: separate;
    border-spacing: 40px 10px;
}

.field {
    margin-bottom: 6px ;
}

.field label {
    font-weight: 500;
    margin-bottom: 5px;
}

.field input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    padding-bottom: 5px;
}

input {
    display: block;
}

input[readonly] {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

button {
    background-color: #368539;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #295c2c;
}

.button-form {
    text-align: center;
}

/* Connexion */
.formulaire {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.form-connexion {
    margin: auto;
}

.connect-souvenir {
    display: flex;
    justify-content: space-between;
}

.checkbox-connect {
    display: flex;
    align-items: center;
    gap: 5px;
}

.creer-compte {
    padding-top: 30px;
    text-align: center;
}

.erreur-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


/* Mon Profil*/
.info-profil {
    padding-top: 20px;
    margin: auto;
}

.info-profil td {
    padding-bottom: 10px;
}

.contenu-profil {
    padding-left: 20px;
}

.button-profil {
    padding-top: 20px;
}

/* Modifier Profil*/
.credit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: bold;
    color: #2e7d32; /* vert agréable */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.credit input {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: inherit;
    width: 80px;
    text-align: center;
    color: #2e7d32;
}
.credit label {
    margin-right: 10px;
}

.form-grid {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


