<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchères.org</title>
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link
	href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
</head>
<body>

	<header>
		<nav>
			<div class="titre-entete">ENI-Enchères</div>
			<div class="buttons-nav">
				<div class="button-nav">
					<a th:href="@{/}">Enchères</a>
				</div>
				<div class="button-nav">
					<a th:href="@{/}">Vente article</a>
				</div>
				<div class="button-nav">
					<a th:href="@{/}">Mon profil</a>
				</div>
				<div class="button-nav">
					<a th:href="@{/}">Deconnexion</a>
				</div>
			</div>
		</nav>
	</header>



	<main>

		<h1>Liste des enchères</h1>

		<section class="filtres-container">
			<h2>Filtres :</h2>
			<form method="post"></form>
			<!-- th:action=""  -->
			<!-- "@{/filtres}" -->
			<input type="search" name="nomArticle" size="30"
				placeholder="Le nom de l'article contient"> <label
				for="listeCategorie">Catégorie :</label> <select
				name="listeCategorie">
				<option>Informatique</option>
				<option>Ameublement</option>
				<option>Vêtement</option>
				<option>Sports&Loisirs222</option>
				<option>Test</option>
				<!-- 
				<option th:each="categorie : ${categories}"
                    th:value="${categorie.libelle}"
                    th:text="${categorie.libelle}">
            	</option>
            	 -->
			</select>
		</section>


		<section class="RG-AchatVente">

			<label><input type="radio" name="type" checked>
				Achats</label> <label><input type="radio" name="type"> Mes
				ventes</label>

		</section>
		<section class="AchatVente">
			<div class="CB-achat">

				<label><input type="checkbox"> enchères ouvertes</label> <label><input
					type="checkbox"> mes enchères</label> <label><input
					type="checkbox"> mes enchères remportées</label>
			</div>
			<div class="CB-Vente">
				<label><input type="checkbox"> mes ventes en cours</label> <label><input
					type="checkbox" checked> ventes non débutées</label> <label><input
					type="checkbox"> ventes terminées</label>
			</div>
		</section>

		<section class="detailVente-container">
			<div class="photoArticle-container">
				<img alt="PC Gamer" src="/images/logoENI.png">
			</div>
			<div class="Article-vente-container">
				<!-- th:each="" -->
				<!--article : ${articles}  -->

				<ul>
					<li>Nom Article</li>
					<!--th:text=""  -->
					<!--${article.nomArticle}  -->
					<li>Prix Article</li>
					<!--${article.prixArticle}  -->
					<li>Fin Enchères</li>
					<!--${encheres.finEnchere}  -->
					<li>Vendeur</li>
					<!--${article.vendeur}  -->
					<!-- <a href="#">NineJea</a> -->
				</ul>
			</div>
		</section>
		<aside class="asideBtn">
			<button type="submit">Rechercher</button>
		</aside>

	</main>
</body>
</html>



</body>
</html>