<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>ENI-Enchères</h1>

	<h2>Avec mon Email</h2>
	<form action="/" method="post">
		<ul>

			<li><label>Identifiant</label> <input type="text" id="name"
				name="login" required></li>
			<li><label>Mot de passe</label> <input type="text"
				id="motDePasse" name="motDePasse" required></li>
		</ul>

		<div>
			<button type="submit">Connexion</button>

			<input type="Checkbox"> Se souvenir de moi <br><a href="">Mot
				de passe oublié</a>
		</div>
	</form>

</body>
</html>