<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/encherir-acquisition-detail.css}"/>
    <title>Encheres</title>
</head>

<body>
<div class="container">

    <header>
        <nav>
            <div class="titre-entete">
                <!--<a th:if="${session.utilisateurConnecte != null}" th:href="@{/PagesListeEncheresConnecte}">ENI-Enchères</a>
                <span th:unless="${session.utilisateurConnecte != null}">ENI-Enchères</span>-->
            </div>
            <div class="buttons-nav">
                <div class="button-nav"><a href="">Enchères</a></div>
                <div class="button-nav"><a href="">Vente article</a></div>
                <div class="button-nav"><a href="">Mon profil</a></div>
                <div class="button-nav"><a href="">Deconnexion</a></div>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="titre">Détail vente</h1>

        <div class="conteneur-layout">

            <!-- Colonne gauche avec l'image -->
            <div class="colonne-image">
                <img src="../static/images/PC-gamer.jpg" alt="PC Gamer" class="img-produit">
            </div>

            <form class="form-profil" th:action="@{/enchere/creer}" method="POST">

                <div class="colonne-formulaire">
                    <div class="ligne-info">
                        <span class="intitule">Article : </span>
                        <p th:text="${article.nomArticle}"></p>
                    </div>
                    <!--<span class="intitule">Article :</span>
                    <h2 th:text="''+${article.nomArticle}"></h2>-->

                    <div class="ligne-info">
                        <span class="intitule">Description :</span>
                        <p th:text="${article.description}"></p>
                    </div>

                    <div class="ligne-info">
                        <span class="intitule">Catégorie :</span>
                        <p th:text="${article.categorieArticle.libelle}"></p>
                    </div>

                    <div class="ligne-info">
                        <span class="intitule">Meilleure offre :</span>
                        <span class="contenu meilleure offre">210 points par Bob</span>
                    </div>

                    <div class="ligne-info">
                        <span class="intitule">Mise à prix :</span>
                        <p th:text="${article.miseAPrix}"></p>
                    </div>

                    <div class="ligne-info">
                        <span class="intitule">Fin de l'enchère :</span>
                        <p th:text="${article.dateFinEncheres}"></p>
                    </div>

                    <div class="ligne-info">
                        <span class="intitule">Retrait :</span>
                        <p th:text="${article.lieuRetrait.rue}"></p>
                        <br>
                        <p th:text="${article.lieuRetrait.codePostal}"></p>
                        <br>
                        <p th:text="${article.lieuRetrait.ville}"></p>
                    </div>

                    <div class="ligne-info">
                        <span class="intitule">Vendeur :</span>
                        <p th:text="${article.vendeur.pseudo}"></p>
                    </div>

                    <div class="enchere-ligne">
                        <label for="montant" class="label-proposition">Ma proposition :</label>
                        <input type="number" id="montant" name="montant" value="0" min="0" max="100000" step="5">
                        <button type="submit" class="btn-encherir">Enchérir</button>
                    </div>
                    <!--
                    <div class="inblockMargin" th:if="${article.etatVente} == 'EC' and (${article.vendeur.noUtilisateur} != ${userSession.noUtilisateur})">
                        <label for="idProposition">Ma proposition : </label>
                        <input id="idProposition" type="number" name="proposition"/>
                        <button type="submit">Enchérir</button>
                    </div>
                    -->
                </div>
            </form>
        </div>
    </main>
</div>

</body>
</html>

