<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/style-profil-connexion.css}" />
    <title>Encheres</title>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <div class="titre-entete">
            <a th:if="${session.utilisateurConnecte != null}" th:href="@{/PagesListeEncheresConnecte}">ENI-Enchères</a>
            <span th:unless="${session.utilisateurConnecte != null}">ENI-Enchères</span>
          </div>
          <div class="buttons-nav">
            <div class="button-nav"><a th:href="@{/}">Enchères</a></div>
            <div class="button-nav"><a th:href="@{'/encheres/creerVente'}">Vente article</a></div>
            <div class="button-nav"><a th:href="@{'/btnPageMonProfil'}">Mon profil</a></div>
            <div class="button-nav"><a th:href="@{'/logout'}">Deconnexion</a></div>
          </div>
        </nav>
      </header>
      <main>

        <h1 class="titre">Information profil</h1>

<!--        Ajout SLB : ajout du thymeleaf pour hériter des données du profil 5 mis en dur dans l'URL de PagesListeEncheresConnecte -->
        <table class="info-profil">
          <tr>
            <td>Pseudo</td>
            <td class="contenu-profil" th:text="${utilisateur.pseudo}">Pseudo</td>
          </tr>
          <tr>
            <td>Nom</td>
            <td class="contenu-profil" th:text="${utilisateur.nom}">Nom</td>
          </tr>
          <tr>
            <td>Prénom</td>
            <td class="contenu-profil" th:text="${utilisateur.prenom}">Prénom</td>
          </tr>
          <tr>
            <td>Email</td>
            <td class="contenu-profil" th:text="${utilisateur.email}">Email</td>
          </tr>
          <tr>
            <td>Téléphone</td>
            <td class="contenu-profil" th:text="${utilisateur.tel}">Téléphone</td>
          </tr>
          <tr>
            <td>Rue</td>
            <td class="contenu-profil" th:text="${utilisateur.rue}">Rue</td>
          </tr>
          <tr>
            <td>Code postale</td>
            <td class="contenu-profil" th:text="${utilisateur.codePostal}">Code postal</td>
          </tr>
          <tr>
            <td>Ville</td>
            <td class="contenu-profil" th:text="${utilisateur.ville}">Ville</td>
<!--            Fin ajout SLB -->
          </tr>
        </table>
      </main>
    </div>
  </body>
</html>
