<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
          href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/encherir-acquisition-detail.css">
  <title>Encheres</title>
</head>

<body>
<div class="container">

  <header>
    <nav>
      <div class="titre-entete">ENI-Enchères</div>
      <div class="buttons-nav">
        <div class="button-nav"><a href="">Enchères</a></div>
        <div class="button-nav"><a href="">Vente article</a></div>
        <div class="button-nav"><a href="">Mon profil</a></div>
        <div class="button-nav"><a href="">Deconnexion</a></div>
      </div>
    </nav>
  </header>

  <main>
    <h1 class="titre">Jojo 44 a remporté l'enchère</h1> <!-- à remplacer dynamiquement plus tard -->

    <div class="conteneur-layout">
    
      <!-- Colonne gauche avec l'image -->
      <div class="colonne-image">
        <img src="../static/images/PC-gamer.jpg" alt="PC Gamer" class="img-produit">
      </div>

    <form class="form-profil" action="">
      
      <div>

        <div class="colonne-formulaire">
          <h2 class="sous-titre">PC Gamer pour travailler</h2>

        <div class="ligne-info">
          <span class="intitule">Description :</span>
          <span class="contenu description">---------------</span> <!-- à remplacer dynamiquement plus tard -->
        </div>
        
        <div class="ligne-info">
          <span class="intitule">Meilleure offre :</span>
          <span class="contenu meilleure offre">210 points par Jojo44</span> <!-- à remplacer dynamiquement plus tard -->
        </div>
        
        <div class="ligne-info">
          <span class="intitule">Mise à prix :</span>
          <span class="contenu mise à prix">185 points</span> <!-- à remplacer dynamiquement plus tard -->
        </div>
        
        <div class="ligne-info">
          <span class="intitule">Fin de l'enchère :</span>
          <span class="contenu fin de l'enchère">15/07/2025</span> <!-- à remplacer dynamiquement plus tard -->
        </div>
        
        <div class="ligne-info">
          <span class="intitule">Retrait :</span>
          <span class="contenu retrait">ENI Faraday 44800 St Herblain</span>
        </div>

        <div class="ligne-info">
          <span class="intitule">Vendeur :</span>
          <span class="contenu vendeur">—</span> <!-- à remplacer dynamiquement plus tard -->
        </div>
        
        <div class="retrait-effectué">
          <button type="submit" class="btn-back">Retrait effectué</button>
        </div>

        
      </div>

      </div>
    </form>
  </main>
</div>

</body>
</html>