<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enchères.org</title>
    <link rel="stylesheet" href="css/general.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="titre-entete">
            <a th:if="${session.utilisateurConnecte != null}" th:href="@{/PagesListeEncheresConnecte}">ENI-Enchères</a>
            <span th:unless="${session.utilisateurConnecte != null}">ENI-Enchères</span>
        </div>
        <div class="buttons-nav">
            <div class="button-nav">
                <a th:href="@{/}">Enchères</a>
            </div>
            <div class="button-nav">
                <a th:href="@{'/encheres/creerEnchere'}">Vente article</a>
            </div>
            <!--            Ajout SLB 03/07 que le lien de la page renvoie vers PageModifierProfil-->
            <div class="button-nav">
                <a th:href="@{'/btnPageMonProfil'}">Mon profil</a>
            </div>
        </div>
        <div class="button-nav">
            <a th:href="@{'/logout'}">Deconnexion</a>
        </div>
        </div>
    </nav>
</header>


<div class="main-wrapper">

    <h1>Liste des enchères</h1>

    <section class="filtres-container">
        <h2>Filtres :</h2>
        <form method="post"></form>
        <!-- th:action=""  -->
        <!-- "@{/filtres}" -->
        <input type="search" name="nomArticle" size="30"
               placeholder="Le nom de l'article contient">
        <br><br>
        <label>Catégorie :</label> <select
            name="listeCategorie">
        <option th:each="cat : ${categories}" th:text="${cat.libelle}"
                th:value="${cat.idCategorie}"></option>
    </select>
    </section>


    <section class="RG-AchatVente">
        <label><input type="radio" name="type" checked>
            Achats</label> <label><input type="radio" name="type"> Mes
        ventes</label>
    </section>
    <section class="AchatVente">
        <div class="CB-achat">

            <label><input type="checkbox"> enchères ouvertes</label> <label><input
                type="checkbox"> mes enchères</label> <label><input
                type="checkbox"> mes enchères remportées</label>
        </div>
        <div class="CB-Vente">
            <label><input type="checkbox"> mes ventes en cours</label> <label><input
                type="checkbox" checked> ventes non débutées</label> <label><input
                type="checkbox"> ventes terminées</label>
        </div>
    </section>
    <aside class="asideBtn">
        <button type="submit">Rechercher</button>
    </aside>
    <section class="detailVente-container">
        <div class="photoArticle-container">
            <img alt="PC Gamer" src="/images/logoENI.png">
        </div>
        <div class="Article-vente-container">
            <!-- th:each="" -->
            <!--article : ${articles}  -->

            <ul>
                <li>Nom Article</li>
                <!--th:text=""  -->
                <!--${article.nomArticle}  -->
                <li>Prix Article</li>
                <!--${article.prixArticle}  -->
                <li>Fin Enchères</li>
                <!--${encheres.finEnchere}  -->

                <!--Ajout SLB 02/07 : devant "Vendeur :" sur la page je crée un lien qui renvoie vers PageProfilUtilisateur-->
                <!--Ajout SLB 03/07 : id 5 pour bypasser la premiere étape de connexion qui est une fonctionnalité ddéveloppée par qqn d'autre-->
                <li>
                    Vendeur :
                    <a href="/PageProfilUtilisateur/5">Voir profil</a>

                    <!--    <a th:href="@{/PageProfilUtilisateur}" th:text="${article.vendeur}">Nom du vendeur</a> -->
                </li>
                <!-- Fin ajout SLB -->

                <!--<li>Vendeur</li>-->
                <!--${article.vendeur}  -->
                <!-- <a href="#">NineJea</a> -->
            </ul>
        </div>
    </section>


    <div class="main-wrapper">
</body>
</html>


</body>
</html>